<p>All from <%= title %></p>

<% for(let document of documents) {%>

    <% for(let key in document) {%>
        <% if(rewrite[key]) {%>
            <%= rewrite[key] %>:
        <% } else { %>
            <%= key %>:
        <% } %> 
        <%= document[key] %>
        <br>
    <% } %> 
    <br><br>
<% } %> 