
<img class="logo" src="http://localhost:3000/images/signature.png" alt="logo">

<a href="http://localhost:3000/user/signup">Signup</a>
<a href="http://localhost:3000/newCategory">Create category</a>

<% categories.forEach((category => { %>
    <% let urlName = category.nameInDoc 
    urlName = urlName.substring(3)
    
    %>
    <a href="http://localhost:3000/category/<%= urlName %>"><%= category.displayName %> </a>
<% })) %>