<div id="newCategoryWrap">
  <button class="add">add field</button>
  <button class="submit">submit</button>
  <form>
    <label>Display name</label>
    <input type="text" id="displayName" />
    <label>Document name</label>
    <input type="text" id="nameInDoc" />
  </form>
</div>
