<button id="newCategoryField">add field</button>
<button id="submitNewCategory" >submit</button>
  <form id="newCategoryForm"> 
    <label>Display name</label>
    <input type="text" id="displayName" required/>
    <label>Document name</label>
    <input type="text" id="nameInDoc" requred/>
  </form>
