<%- include('partials/header') %> 
<div class="menu">

    test
<%- include('partials/menu') %>
</div>
<div class="content">
<% if(partial) {%> <%- include('partials/' + partial) %> <% } %>
</div>
<%- include('partials/footer') %> 
