<div class="collection">
    <label>Input type</label>
    <select name="inputType">
        <option value="text">Text</option>
        <option value="textArea">TextArea</option>
        <option value="number">Number</option>
        <option value="select">Select</option>
        <option value="checkbox">Checkbox</option>
        <option value="radio">Radio</option>
        <option value="file">File</option>
        <option value="date">Date</option>
    </select>
    <label>Display Name</label>
    <input type="text" name="displayName" class="displayName">
    <label>Document name</label>
    <input type="text" name="nameInDoc" class="nameInDoc">
    <label>Required</label>
    <input type="checkbox" name="required">
    <label>Unique</label>
    <input type="checkbox" name="unique">
    <div class="options"></div>
</div>

<div class="optionElms">
    <button class="addOption">Add option</button>
    <div class="option">
    <input class="option" type="text" name="optionName">
    <input class="option" type="text" name="optionVal">
    </div>
</div>