<div class="flex">
  <div class="innerMenu">
    <% collections.forEach((collection => { %>
      <a href="http://localhost:3000/admin/collections/<%= collection.nameID  %>"><%= collection.name %> </a>
  <% })) %>
  </div>
  <div class="content">

    <a href="http://localhost:3000/admin/collections/add">Add collection</a>
    
  </div>
</div>

