<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>
      <% if(title){ %> <%= title %> <% } %>
    </title>
    <link rel="stylesheet" href="http://localhost:3000/admin/css/main.css" />
    <script type="module" src="http://localhost:3000/admin/js/main.js"></script>
    <script src="https://kit.fontawesome.com/186c111526.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/i22kf9lhiusiio6mwasuxv4ew45mrskj52jryfqopof0g1ok/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
  </head>
  <div id="popup">
    <div class="content"></div>
  </div>
  
