<div class="flex">
  <div class="innerMenu">
    <ul>
      <li>
        Posts
      </li>
      <li>
        Posts
      </li>
      <li>
        <button id="addCategory">Add category</button>
      </li>
    </ul>
  </div>
  <div class="content">
    <button id="saveCategory">Save category</button>


    <div id="createCategory">
      <label for="name">Name</label>
      <input type="text" id="catName" />

      <label for="nameID">Name ID</label>
      <input type="text" id="catNameID" />

      <label for="description">Description</label>
      <input type="text" id="catDescription" />
    </div>
    <button id="addField">Add field</button>
    <div id="fields">
    </div>
  </div>
</div>

