<div class="flex">
  <div class="innerMenu">
    <div class="innerMenu">
      <% categories.forEach((category => { %>
        <a href="http://localhost:3000/admin/categories/<%= category.nameID  %>"><%= category.name %> </a>
    <% })) %>
    </div>
  </div>
  <div class="content">

    
    <button id="saveCategory" class="save">Save</button>


    <div id="createCategory">
      <label for="name">Name</label>
      <input type="text" id="catName" />

      <label for="nameID">Name ID</label>
      <input type="text" id="catNameID" />

      <label for="description">Description</label>
      <input type="text" id="catDescription" />
    </div>
    <button id="addField">Add field</button>
    <div id="fields">
    </div>
  </div>
</div>

