<button id="newCategoryField">add field</button>
<button id="submitNewCategory" >submit</button>
  <form id="newCategoryForm"> 
    <label>Display name</label>
    <input type="text" name="displayName" id="displayName" required/>
    <label>Document name</label>
    <input type="text" name="nameInDoc" id="nameInDoc" requred/>
    <div class="group">
    <label>Group Name</label>
        <input type="text" name="[groupName]" value="postData">
    <div class="fields">
      <label>Input type</label>
      <select name="[inputType]">
        <option value="text">Text</option>
        <option value="textArea">TextArea</option>
        <option value="number">Number</option>
        <option value="select">Select</option>
        <option value="checkbox">Checkbox</option>
        <option value="radio">Radio</option>
        <option value="image">Image</option>
        <option value="date">Date</option>
      </select>
      <label>Display Name</label>
      <input type="text" name="[displayName]">
      <label>Document name</label>
      <input type="text" name="[nameInDoc]">
      <label>Required</label>
      <input type="checkbox" value="true" name="[required]">
      <label>Unique</label>
      <input type="checkbox" value="true" name="[unique]">
      <label>Multiple Fields</label>
      <input type="checkbox" value="true" name="[multiple]">
      <div class="options">
        
      </div>
    </div>
    <div class="fields">
      
      <label>Input type</label>
      <select name="[inputType]">
        <option value="text">Text</option>
        <option value="textArea">TextArea</option>
        <option value="number">Number</option>
        <option value="select">Select</option>
        <option value="checkbox">Checkbox</option>
        <option value="radio">Radio</option>
        <option value="image">Image</option>
        <option value="date">Date</option>
      </select>
      <label>Display Name</label>
      <input type="text" name="[displayName]">
      <label>Document name</label>
      <input type="text" name="[nameInDoc]">
      <label>Required</label>
      <input type="checkbox" value="true" name="[required]">
      <label>Unique</label>
      <input type="checkbox" value="true" name="[unique]">
      <label>Multiple Fields</label>
      <input type="checkbox" value="true" name="[multiple]">
      <div class="options">
        
      </div>
    </div>
  </div>

  <div class="group">
    <label>Group Name</label>
        <input type="text" name="[groupName]" value="image">
    <div class="fields">
      <label>Input type</label>
      <select name="[inputType]">
        <option value="text">Text</option>
        <option value="textArea">TextArea</option>
        <option value="number">Number</option>
        <option value="select">Select</option>
        <option value="checkbox">Checkbox</option>
        <option value="radio">Radio</option>
        <option value="image">Image</option>
        <option value="date">Date</option>
      </select>
      <label>Display Name</label>
      <input type="text" name="[displayName]">
      <label>Document name</label>
      <input type="text" name="[nameInDoc]">
      <label>Required</label>
      <input type="checkbox" value="true" name="[required]">
      <label>Unique</label>
      <input type="checkbox" value="true" name="[unique]">
      <label>Multiple Fields</label>
      <input type="checkbox" value="true" name="[multiple]">
      <div class="options">
        
      </div>
    </div>
    


    <div class="group">
      <label>Group Name</label>
          <input type="text" name="[groupName]" value="imageData">
      <div class="fields">
        <label>Input type</label>
        <select name="[inputType]">
          <option value="text">Text</option>
          <option value="textArea">TextArea</option>
          <option value="number">Number</option>
          <option value="select">Select</option>
          <option value="checkbox">Checkbox</option>
          <option value="radio">Radio</option>
          <option value="image">Image</option>
          <option value="date">Date</option>
        </select>
        <label>Display Name</label>
        <input type="text" name="[displayName]">
        <label>Document name</label>
        <input type="text" name="[nameInDoc]">
        <label>Required</label>
        <input type="checkbox" value="true" name="[required]">
        <label>Unique</label>
        <input type="checkbox" value="true" name="[unique]">
        <label>Multiple Fields</label>
        <input type="checkbox" value="true" name="[multiple]">
        <div class="options">
          
        </div>
      </div>
      <div class="fields">
        
        <label>Input type</label>
        <select name="[inputType]">
          <option value="text">Text</option>
          <option value="textArea">TextArea</option>
          <option value="number">Number</option>
          <option value="select">Select</option>
          <option value="checkbox">Checkbox</option>
          <option value="radio">Radio</option>
          <option value="image">Image</option>
          <option value="date">Date</option>
        </select>
        <label>Display Name</label>
        <input type="text" name="[displayName]">
        <label>Document name</label>
        <input type="text" name="[nameInDoc]">
        <label>Required</label>
        <input type="checkbox" value="true" name="[required]">
        <label>Unique</label>
        <input type="checkbox" value="true" name="[unique]">
        <label>Multiple Fields</label>
        <input type="checkbox" value="true" name="[multiple]">
        <div class="options">
          
        </div>
      </div>
    </div>
  </div>
  </div>
  
  </form>
