body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  width: 220px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #111;
  box-sizing: border-box;
  color: #fff;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-bottom: #4d4d4d 1px solid;
}

.content {
  box-sizing: border-box;
  padding: 0px 0px 0px 220px;
}
.innerContent {
  box-sizing: border-box;
  padding: 0px 0px 0px 440px;
}

.menu .logo {
  width: 140px;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}

.group {
  border: 1px solid;
  padding: 10px;
}

.fields {
  background: #e7e7e7;
  padding: 10px;
  margin: 10px 0px;
}

.innerMenu {
  position: fixed;
  left: 220px;
  background: #d0d0d0;
  width: 220px;
  height: 100%;
  top: 0;
}

.innerMenu a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 0;
  display: block;
}

#popup {
  position: fixed;
  justify-content: center;
  left: 0;
  align-items: center;
  flex-direction: column;
  right: 0;
  top: 0;
  display: flex;
  bottom: 0;
  background: #00000092;
  z-index: 100;
  display: none;
}
#popup .content {
  padding: 20px;
  background: #fff;
  justify-content: center;
  min-width: 580px;
  min-height: 360px;
}
button.save {
  padding: 10px;
  min-width: 160px;
  font-size: 17px;
  background: #3750d4;
  border: 2px solid #202e76;
  color: #fff;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px 0;
}

#fields .field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  background: #e7eafa;
  border: 1px solid #8d97cb;
  padding: 10px;
  margin: 5px 10px;
}

.actions i {
  margin-right: 10px;
}
#fields .field p {
  margin: 0;
}
